* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do cabeçalho */
.cabecalho {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.cabecalho-texto {
    font-size: 20px;
}

body .logoM {
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.img-logo {
    width: 100px; /* Tamanho da logo */
}

#nav-lista {
    list-style-type: none;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
}
ul {
    list-style: none;
}
main {
    padding: 10px;
    
}
footer {
    padding: 10px;
    background-color: #48392A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
button {
    border-radius: 50px;
    height: 30px;
    width: 200px;
    background-color: #CAD2C5;
    border: none;
    margin: 10px;
}
button a {
    text-decoration: none;
    color: #FBF2C0;
}
button.entrar {
    border-radius: 50px;
    height: 30px;
    width: 200px;
    background-color: #60c522;
    border: none;
    color: #CAD2C5;
    margin: 10px;
}
/*Fomrulário de Login */


main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.img-cesta img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

/* Estilos para os banners */
.banner2-home {
    background-color: #fff8dc; /* Cor de fundo creme */
    padding: 20px; /* Adiciona um espaço ao redor dos elementos */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.banner2-home-elementos {
    text-align: center;
}

.botoes-home {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
}

/* Estilos para o rodapé */
#rodape {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.rodape-01 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape-item {
    text-align: left;
}

.rodape-item span {
    display: block;
    margin-bottom: 10px;
}

.rodape-02 {
    margin-top: 10px;
}

.img-desktop,
.img-celular {
    width: 300px; /* Defina a largura desejada */
    height: auto; /* Isso mantém a proporção original da imagem */
    border-radius: 20px; /* Adiciona bordas arredondadas */
}
.img-notebook {
    width: 30vw; /* Defina a largura desejada */
}

.cabecalho-menu {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo do menu à direita */
    align-items: center;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black; /* Define a cor do texto como preto */
    font-size: 16px;
  }

  .img-logo {
    width: 70%; /* A imagem cobrirá toda a largura do contêiner pai */
    max-width: 35vw; /* Limita a largura da imagem ao tamanho da viewport */
    height: auto; /* Mantém a proporção original da imagem */
    max-height: 100px; /* Define uma altura máxima para a imagem */
    display: block; /* Remove margens e espaçamentos */
    margin: 0 auto; /* Centraliza*/
}

.img-rodape img {
    width: 5vw; /* Defina a largura desejada */
    height: auto; /* Isso mantém a proporção original da imagem */
}

.conheca-historia {
    display: flex;
    justify-content: space-around;
 }
 