/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do cabeçalho */
.cabecalho {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.cabecalho-texto {
    font-size: 20px;
}

.cabecalho-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.img-logo {
    width: 100px; /* Tamanho da logo */
}

#nav-lista {
    list-style-type: none;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Estilos para o botão de login/cadastro e a cesta de compras */
.img-cesta {
    display: flex;
    align-items: center;
}

.btn-item {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
}

.itens {
    display: flex;
    align-items: center;
}

.precoEitem {
    margin-right: 10px;
    text-align: right;
}

.img-cesta img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

/* Estilos para os banners */
.banner2-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.banner2-home-elementos {
    text-align: center;
}

.botoes-home {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
}

/* Estilos para o rodapé */
#rodape {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.rodape-01 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape-item {
    text-align: left;
}

.rodape-item span {
    display: block;
    margin-bottom: 10px;
}

.rodape-02 {
    margin-top: 10px;
}

.img-desktop,
.img-celular {
    width: 300px; /* Defina a largura desejada */
    height: auto; /* Isso mantém a proporção original da imagem */
    border-radius: 20px; /* Adiciona bordas arredondadas */
}
.img-notebook {
    width: 30vw; /* Defina a largura desejada */
}

.cabecalho-menu {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo do menu à direita */
    align-items: center;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black; /* Define a cor do texto como preto */
    font-size: 16px;
  }

  .img-logo {
    width: 70%; /* A imagem cobrirá toda a largura do contêiner pai */
    max-width: 35vw; /* Limita a largura da imagem ao tamanho da viewport */
    height: auto; /* Mantém a proporção original da imagem */
    max-height: 100px; /* Define uma altura máxima para a imagem */
    display: block; /* Remove margens e espaçamentos */
    margin: 0 auto; /* Centraliza*/
}

.img-rodape img {
    width: 5vw; /* Defina a largura desejada */
    height: auto; /* Isso mantém a proporção original da imagem */
}

.conheca-historia {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
}

.conheca-historia .botoes-home {
    margin-top: 20px; /* Espaçamento entre o botão e a imagem */
}

.conheca-historia img {
    width: 80%; /* Define a largura da imagem como 100% da largura do contêiner pai */
    height: 50%; /* Mantém a proporção original da imagem */
    display: block; /* Remove margens e espaçamentos */
    max-width: none; /* Remove qualquer limite de largura máximo */
}


