* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Cabeçalho */
header {
    text-align: center;
    color: antiquewhite;
    background-color: #1B4332;
    padding: 18px;
    font-size: 26px;
}


/* Navegação do cabeçalho */
nav {
    display: flex;
    align-items: center;
    background-color:#FFF8DC;
}
div.cesta img {
    height: 48px;
    width: 48px;
    margin-left: 50px;
}
img.logoM {
    margin-right: 200px
}
a {
    text-decoration: none;
    padding-left: 30px;
    color: #48392A;
    font-size: 19px;
}
li {
    list-style: none;
}
ul {
    display: flex;
}


/* Login | Cadastre-se */

main {
    display: flex;
    background-color: #FFF8DC;
    justify-content: space-evenly;
    padding: 50px;
}
/*Estilo dos formularios do Login*/
form {
    display: flex;
    flex-direction: column;
}
/*Cores de fundo do Label*/
input {
    background-color: #EEE3E3;
    border-radius: 50px;
    border: none;
    width: 280px;
    height: 38px;
}
article {
    padding: 10px;
}

/* Estilização dos Botôes*/
.inscreva-se {
    border-radius: 15px;
    border: none;
    margin-left: 200px;
    align-self: center;
    text-align: center;
    background-color: #1B4332;
    color: antiquewhite;
    height: 36px;
    width: 280px;
    font-size: 18px;
}

button {
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: #86bfa7;
    color: antiquewhite;
    margin-top: 18px;
    width: 150px;
    height: 28px;
}

/*Rodapé*/
footer {
    display: flex;
    padding: 18px;
    align-items: center;
    justify-content: space-between;
    background-color: #48392A;
    color: antiquewhite;
}

/* Parágrafo */
h4 {
    padding-bottom: 18px;
}
article {
    padding: 18px;
}
